//pagination and search style
.mdl-table-search {
    margin-top: 10px;
    
    #search-label:after {
      background-color: #be0b0b !important;
    }
  
    .pagination {
      display: flex;
      list-style: none;
      cursor: pointer;
      position: absolute;
      top: 0;
      left:50%;
      

  
      li {
        background: #ffffff;
        padding: 4px 0;
        width: 60px;
        text-align: center;
        margin-left: 5px;
        box-shadow: rgba(0, 0, 0, 0.14) 1px 1px 2px 0px, rgba(0, 0, 0, 0.2) 0px 2px 1px -5px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  
        &.active {
          background: #be0b0b;
  
          a {
            color: #ffffff;
          }        
        }
      }
    }
  }
  
  .sort {
    position: absolute;
    right: 10px;
    bottom: 14px;
    cursor: pointer;
  
    &:before {
      position: absolute;
      right: 2px;
      width: 0;
      height: 0;
      padding: 0;
      content: "";
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      pointer-events: none;
      bottom: 8px;
      border-bottom: 6px solid rgba(0,0,0,.12);
    }
  
    &:after {
      position: absolute;
      right: 2px;
      width: 0;
      height: 0;
      padding: 0;
      content: "";
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      pointer-events: none;
      bottom: 0;
      border-top: 6px solid rgba(0,0,0,.12);
    }
  
    &.sort-asc {
      &:before {
        border-bottom-color: rgba(0,0,0,.5);
      }
    }
  
    &.sort-desc {
      &:after {
        border-top-color: rgba(0,0,0,.5);
      }
    }
  }


  .row-event{
    border-bottom: 1px black solid;
    height: 30px;
    width:60px;
  }

  .row-event .event-cell{
    width:280px;
  }

 #search-input{
   width:1200px !important;
 }